*
{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} /* Reset */

body
{
    scroll-behavior: smooth;
    margin: 0;
    background: url(../img/fond012.jpg) fixed;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Proza+Libre');


h1
{
    text-align: center;
    color: #90b2e4;
    font-size: 2.4em;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}

h2
{
    font-size: 35px;
    color: #2c3e50;
    padding: 20px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h3
{
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
    font-family: 'Anton', sans-serif;
}

h4
{
    text-align: center;
font-weight: bold;
color:#000;
background: rgba(229, 230, 246, 0.44)
}

blockquote
{
    font-style: italic;
    font-size: 120%;
}

strong
{
    font-weight: bold;
}

main
{
     /* pas de hauteur car il contient aside et section donc il se dimension selon eux*/
    width: 100%;
    margin: 0 auto;

}

main p
{
    font-family: 'Proza Libre', sans-serif;
    font-size:0.9em;
}

aside
{
    height:250px;
    background: yellow;
}

section
{
    padding: 20px;
}

#zoneDuHaut
{
    width: 100%;
    background: #282A2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact
{
    width: 65%;
    padding: 0 13px;
}

#contact p
{
    margin: auto;
    padding: 3px 10px;
    color: #95938C;
    display: inline-block;
}

.reseauSociaux
{
    width: 33%;
    text-align: right;
}

.reseauSociaux i
{
    font-size: 1.8em;
    color: #95938C;
    /*margin: 0 10px;*/
    letter-spacing: 20px;
    text-align: center;
}

.reseauSociaux i:nth-child(1):hover, .reseauSociaux i:nth-child(2):hover, .reseauSociaux i:nth-child(3):hover, .reseauSociaux i:nth-child(4):hover
{
    background: #282A2B;
    border-radius: 3px;
    transition: 0.3s;
    transform: scale(1.5);
    color: white;
    border: 2px outset white;
}



               /****************** Fin du HEADER ******************/
               /****************** Début du MENU ******************/
#zone_du_haut
{
   background: #333637;
   width: 100%;
   height: 15vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.name
{
    width: 40%;
    padding: 26px 7px;
    float:left;
}


nav
{
   margin-top: -2px;
}

nav a
{
    display: inline-block;
    padding: 4px 12px 8px 10px;
    margin: 9px 11px;
    background: #254b62;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    color: #90b2e4;
    text-decoration: none;
}

nav a:hover
{
    border-bottom: 2px inset #a1a5ac;
    color: white;
    background: #90b2e4;
    box-shadow: none;
}

nav ul li
{
    list-style: none;
    float: left;
}

button
{
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 350%;
    color: #282A2B;
}

button:hover
{
    transition: 1.5s;
    color: #90b2e4;
}
  /************************FIN MENU *************************************/

  /****************** section apres menu (photo)**************************/

#zoneHaut
{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photoFond
{
     width: 10%;
     position: relative;
     top: 10px;
     left: 63px;
}

.photoFond img
{
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    margin: 49px auto;
    padding: 0;
}

.photoTexte
{
    position: absolute;
    width: 32%;
    height: 80px;
    top: 15px;
    left: 69px;
    box-shadow: 0 0 8px rbga(0, 0, 0, 0.3);
}

.photoTexte p span:before
{
    content:'';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 7px solid rgba(255,255,255,.4);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}


.photoFond p
{
    position: absolute;
    z-index: 2;
    width: 210px;
    margin: auto;
    background: rgba(255,255,255,.3);
    left: 9px;
    top: 207px;
    padding: 6px;
    border-radius: 56px;
    font-weight: bold;
    color: white;
    font-size: 73%;
}

.description
{
    width: 60%;
    float: right;
    padding: 0 150px;
}

.description p
{
    color: white;
    font-weight: bold;
    float: left;
    padding: 10px;
    border-radius: 2px 20px;
    background: rgba(0,0,0,0.7)
}

span.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

      /****************** Fin de la section apres menu ******************/

        /********************** DEBUT SECTION ***********************/
        /********************** FIN SECTION ***********************/
.premiere
{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 30vh;
}

#competences, #formation, #informatique
{
    width: 70%;
    /*padding: 136px 544px;*/
    text-align: justify;
    background: rgba(255,255,255,0.7);
    border-radius: 40px;
    padding: 0 86px;
    margin: 107px 230px;
}

main i
{
    font-size: 2em;
    color: #90b2e4;
}

.interieur
{
    padding: 0;
    margin: 0;

}
   /************************* DEBUT FOOTER *****************************/
footer
{
   background: #333637;
   width: 100%;
   border-bottom: 30px solid #282A2B;
}

footer h3
{
    padding-left: 121px;
    color: #95938C;
    font-weight: bold;
}

footer i
{
    color: #95938C;
}

#contact_cv
{
    color: white;
    background: #333637;
    padding: 79px 34px;
}

.bas
{
    width: 19%;
    float: right;
}

.bas h3
{
text-decoration: underline;
}

.bas a
{
    text-decoration: none;
    list-style: none;
    padding: 0 0;
    margin: 0 0;
    color: white;
    text-align: center;
}

.bas a:hover
{
    text-decoration: underline;
}



        /************************* FIN FOOTER *****************************/


    /************************* DEBUT HAMBURGER RS *****************************/

    .content
    {
        margin: 1% 3%;
    }

    .mainRS
    {
        display: block;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 0 3px 5px #ececec;
    }

    .RS
    {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        max-height: 0;
        overflow-y: hidden;
        text-align: center;
    }

    .RS li
    {

        width: 20%;
    }

    .RS li:hover
    {
        cursor: pointer;
    }

    .RS a
    {
        color: #eee;
        text-decoration: none;
        display: inline-block;
        width: 16%;
        padding: 5px 15px;
    }

    .RS li:first-child
    {
        border-left: 0;
    }

    .RS a:hover
    {
        color: white;
    }

    label.menuTitle
    {
        text-align: left;
        font-size: 50px;
        height: 60px;
        width: 100px;
        margin-right: 1%;
        display: block;
        font-weight: bold;
        cursor: pointer;
        background: url(../img/logors.jpg) no-repeat 97% 14px;
        background-size: 47px 37px;
        float: right;

    }

    .hidden
    {
        display: none;
    }

    input[name="panel"]:checked ~ .RS
    {
    max-height: 800px;
    transition: 2s;
    }




/************************* FIN HAMBURGER RS *****************************/


               /****************** autre ******************/

.separation
{
   width: 100%;
   height: 20px;
   background: #282A2B;
}

.separation1
{
   width: 100%;
   height: 80px;
   background: white;
   opacity: 0.8;
}

.activ
{
   background: black;
   color: #77abb7;
}

.clear
{
    clear: both;
}

.white
{
    color: white;
}

.blue
{
    color: blue;
}
.red
{
    color: red;
}
.yellow
{
    color: yellow;
}
.green
{
    color: green;
}
.black
{
    color: black;
}
.align
{
    text-align: center;
}
               /****************** FIn autre ******************/




     /*********************** DEBUT INFO ANIMATIONS  ******************/

.contenti
{
 width: 278px;
 margin: 0;
 float: left;
 font-size: 12px;
 line-height: 1.2em;
 padding: 30px 0 30px;
 position: relative;
}

.conteneur
{
    width: 50%;
    margin: 0;
    float: right;
    padding: 35px 86px;
    line-height: 2.2em;
}

.col
{
 width: 280px;
}

#skill
{
 list-style: none;
 padding-top: 30px;
}

#skill li
{
 margin-bottom: 70px;
 background: #fff;
 height: 5px;
 border-radius: 3px;
 border-left: 1px solid #111;
 border-top: 1px solid #111;
 border-right: 1px solid #333;
 border-bottom: 1px solid #333;
}

#skill li em {
 position: relative;
 top: -30px;
}

.expand
{
 height: 1px;
 margin: 2px 0;
 background: #2187e7;
 position: absolute;
 box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4);
}

.html
{
 width: 90%;
 -moz-animation: html 2s ease-out;
 -webkit-animation: html 2s ease-out;
}

.css
{
 width: 85%;
 -moz-animation: css 2s ease-out;
 -webkit-animation: css 2s ease-out;
}

.jquery
{
 width: 30%;
 -moz-animation: jquery 2s ease-out;
 -webkit-animation: jquery 2s ease-out;
}

.php
{
 width: 35%;
 -moz-animation: php 2s ease-out;
 -webkit-animation: php 2s ease-out;
}

.mysql
{
 width: 30%;
 -moz-animation: mysql 2s ease-out;
 -webkit-animation: mysql 2s ease-out;
}

.javascript
{
 width: 60%;
 -moz-animation: javascript 2s ease-out;
 -webkit-animation: javascript 2s ease-out;
}

.bootstrap
{
 width: 80%;
 -moz-animation: bootstrap 2s ease-out;
 -webkit-animation: bootstrap 2s ease-out;
}

.photoshop
{
 width: 30%;
 -moz-animation: jquery 2s ease-out;
 -webkit-animation: jquery 2s ease-out;
}

.atom
{
 width: 100%;
 -moz-animation: atom 2s ease-out;
 -webkit-animation: atom 2s ease-out;
}

@-moz-keyframes html
{
 0% {
     width: 0px;
 }
 100% {
     width: 90%;
 };
}

@-moz-keyframes css
{
 0% {
     width: 0px;
 }  100% {
     width: 85%;
 };
}

@-moz-keyframes jquery {
 0% {
     width: 0px;
 }  100% {
     width: 30%;
 };
}
@-moz-keyframes php {
 0% {
     width: 0px;
 }  100% {
     width: 35%;
 };
}
@-moz-keyframes mysql {
 0% {
     width: 0px;
 }  100% {
     width: 30%;
 };
}
@-moz-keyframes javascript {
 0% {
     width: 0px;
 }  100% {
     width: 60%;
 };
}
@-moz-keyframes bootstrap {
 0% {
     width: 0px;
 }  100% {
     width: 80%;
 };
}
@-moz-keyframes photoshop {
 0% {
     width: 0px;
 }  100% {
     width: 30%;
 };
}
@-moz-keyframes atom {
 0% {
     width: 0px;
 }  100% {
     width: 100%;
 };
}

@-webkit-keyframes html {
 0% {
     width: 0px;
 }  100% {
     width: 90%;
 };
}
@-webkit-keyframes css {
 0% {
     width: 0px;
 }  100% {
     width: 85%;
 };
}
@-webkit-keyframes jquery {
 0% {
     width: 0px;
 }  100% {
     width: 30%;
 };
}
@-webkit-keyframes php {
 0% {
     width: 0px;
 }  100% {
     width: 35%;
 };
}
@-webkit-keyframes mysql {
 0% {
     width: 0px;
 }  100% {
     width: 30%;
 };
}
@-webkit-keyframes javascript {
 0% {
     width: 0px;
 }  100% {
     width: 60%;
 };
}
@-webkit-keyframes bootstrap {
 0% {
     width: 0px;
 }  100% {
     width: 80%;
 };
}
@-webkit-keyframes photoshop {
 0% {
     width: 0px;
 }  100% {
     width: 30%;
 };
}
@-webkit-keyframes atom {
 0% {
     width: 0px;
 }  100% {
     width: 100%;
 };
}
         /*********************FIN INFO ANIMATIONS **************************/


         /****************** DEBUT FORMULAIRE DE CONTACT ********************/
.formu
{
    padding: 0 0;
    margin: 0 80px;
    width: 100%;
}

form
{
 width: 25%;
 background: white;
 margin: 0;
 padding: 20px 10px;
 border: 3px outset #070739;
 border-radius: 10px;
 float: left;
 color: black;
 text-align: center;

}
.groupe
{
    padding: 10px 10px;
}
.formulaire input
{
 background: lavender;
 padding: 10px;
 margin: 10px 15px;
}

.arrondie
{
 border-radius: 15px;
}

.textarea
{
 resize: none;
}
.groupe
{
    text-align: center;
    padding: 0 0;
    margin: 0 0;
 }

.RSO
{
    width: 80%;
    text-align: center;
}

.RSO i
{
    font-size: 3.8em;
    color: #95938C;
    /*margin: 0 10px;*/
    letter-spacing: 20px;
    text-align: center;
}

.RSO i:nth-child(1):hover, .RSO i:nth-child(2):hover, .RSO i:nth-child(3):hover, .RSO i:nth-child(4):hover
{
    background: #282A2B;
    border-radius: 100px;
    transition: 3s;
    transform: rotate(360deg);
    color: white;
    border: 2px outset white;
}
         /****************** FIN FORMULAIRE DE CONTACT *********************/
